{% extends 'notification/layout.html.twig' %}

{% block body %}
    Hey there,
    <br><br>
    Someone recently requested a password change for your account. If this was you, you can set a new password here:
    <br><br>
    <a href="{{ url('identity_password_reset', {token: token.token}) }}" style="background: #15CD72; border: 14px solid #15CD72; font-family: 'Lato', sans-serif; font-size: 14px; line-height: 1.1; text-align: center; text-decoration: none; display: block; font-weight: bold;" class="button-a">
        &nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#ffffff;">Reset password</span>&nbsp;&nbsp;&nbsp;&nbsp;
    </a>
    <br><br>
    This link will expire in {{ token.expirationMessageKey|trans(token.expirationMessageData, 'ResetPasswordBundle') }}. After that, you will need to resend the verification email.
{% endblock %}
