{% extends 'layout.html.twig' %}

{% block body %}

    <div class="text-center mb-4">
        <h2>Reset your password</h2>
        <p class="text-muted mb-0">Please enter a new password for your account</p>
    </div>

    {{ form_start(form, { 'attr': { 'class': 'js-form', 'novalidate': '' } }) }}

        {{ form_row(form.password.first, { 'attr': { 'placeholder': 'new password' }}) }}

        {{ form_row(form.password.second, { 'attr': { 'placeholder': 'repeat password' }}) }}

        <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block js-btn">
                <span class="js-btn-icon"></span>Reset password
            </button>
        </div>

    {{ form_end(form) }}

{% endblock %}
